<header>
	<nav>
		<ul class="main">
			<li><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></li>
			<li><a href="{{ ref . "about.md" }}">About</a></li>
			<li><a href="{{ .Site.BaseURL }}posts">Posts</a></li>
			<li><a href="{{ .Site.BaseURL }}projects">Projects</a></li>
			<li><a href="{{ .Site.BaseURL }}snippets">Snippets</a></li>
		</ul>
		<ul class="social">
			{{ with .OutputFormats.Get "RSS" }}
			<li>
				<a href="{{ .RelPermalink }}" class="fa fa-rss" target="_blank"></a>
			</li>
			{{ end }}
			<li>
				<a class="fa fa-github" href="https://github.com/ajm188" target="_blank"></a>
			</li>
			<li>
				<a class="fa fa-twitter" href="https://twitter.com/andrew_mason1" target="_blank"></a>
			</li>
		</ul>
	</nav>
</header>