<header>
	<nav>
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		<a href="{{ ref . "about.md" }}">About</a>
		{{ with where .Site.Pages "Section" "posts" }}
		{{ with $count := len . }}
		{{ if ne $count 0 }}
		<a href="{{ $.Site.BaseURL }}/posts">Posts</a>
		{{ end }}
		{{ end }}
		{{ end }}
		{{ with where .Site.Pages "Section" "projects" }}
		{{ with $count := len . }}
		{{ if ne $count 0 }}
		<a href="{{ $.Site.BaseURL }}/projects">Projects</a>
		{{ end }}
		{{ end }}
		{{ end }}
		{{ with where .Site.Pages "Section" "snippets" }}
		{{ with $count := len . }}
		{{ if ne $count 0 }}
		<a href="{{ $.Site.BaseURL }}/snippets">Snippets</a>
		{{ end }}
		{{ end }}
		{{ end }}
		&nbsp;
		{{ with .OutputFormats.Get "RSS" }}
		<a href="{{ .RelPermalink }}" class="fa fa-rss" target="_blank"></a>
		{{ end }}
		<a class="fa fa-github" href="https://github.com/ajm188" target="_blank"></a>
		<a class="fa fa-twitter" href="https://twitter.com/andrew_mason1" target="_blank"></a>
	</nav>
</header>