{{ partial "header.html" . }}

<div>
    {{ partial "navbar.html" . }}
    <p>
        Hello!
        I'm Andrew; I work in infrastructure as a Senior Data Reliability Engineer for <a href="https://calendly.com/">Calendly</a>.
        Before that I worked at Planetscale as a Vitess maintainer, and at <a href="https://slack.com">Slack</a> on the datastores team, first as a Database Reliability Engineer, and then primarily on Vitess itself.
    </p>
    <p>
        A teammate once referred to me as a Professional Database Mercenary.
    </p>
    <p>
        When I'm not working on databases, you can find me turning my compost, playing with my dog, or at the gym.
        I'm an avid baker, so I might also be tinkering with fermentation timings.
    </p>
</div>

{{ partial "footer.html" . }}
