{{ partial "header.html" . }}

<div>
    {{ partial "navbar.html" . }}
    <p>
        Hello!
        I'm Andrew.
        I'm on the Core Services team at <a href="https://www.honeycomb.io/">Honeycomb</a>.
        Before that, I was a Database Reliability Engineer at a few places, and a Vitess maintainer.
    </p>
    <p>
        A teammate once referred to me as a Professional Database Mercenary.
    </p>
    <p>
        When I'm not working on databases, you can find me in the garden, playing with my dog, or at the gym.
    </p>
</div>

{{ partial "footer.html" . }}
